.bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/travel-banner.png');
    width: 100%;
    height: 90vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.heading {
    font-size: 2rem;
}

.heading-large {
    font-size: 3.5rem;
}

#changeText {
    color: #E65607;
}

#changeText:before {
    content: "";
    animation-name: changeTextAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes changeTextAnim {
    0% {
        content: "India";
    }

    25% {
        content: "United States";
    }

    50% {
        content: "France";
    }

    75% {
        content: "Germany";
    }

    100% {
        content: "India";
    }
}

.price {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}
.star {
    color: orange;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.card-img-top {
    aspect-ratio: 3 / 2;
}
.card {
    margin-bottom: 1.5rem;
}
#Services, #Footer {
    background-color: darkorange;
}
#Services .card .row > div {
    display: flex;
}
#Services .card .fa {
    margin: auto;
    font-size: 3rem;
    color: orange;
}
#Services .card h4 {
    margin: auto;
    margin-left: 0;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-600 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

  }

h2.playfair-display-600  {
    font-weight: 500;
    font-size: 2.25rem;
    margin-bottom: 2rem;
    text-decoration: underline;
  }

#Gallery img {
    transition: all .2s ease-in-out;
    width: 100%;
}
#Gallery .img-wrapper {
    overflow: hidden;
    position: relative;

}
#Gallery .img-wrapper > div {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity  */
}
#Gallery .img-wrapper:hover img {
    transform: scale(1.2);
}
#Gallery .img-wrapper .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
#Gallery .img-wrapper .after h5{
    margin: auto;
}
#Gallery .img-wrapper:hover .after {
    display: flex;
    background: rgba(0, 0, 0, .6);
}
footer .text-muted {
    font-size: 1.2rem;
}